/*Padronizando os componentes*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/*Posiciona os elementos da tela*/
nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

/*Alterações da logo*/
.logo {
    display: flex;
    align-items: center;
    font-size: 50px;
}

/*Posiciona os li do nav um ao lado do outro*/
nav li {
    display: inline-block;
}

/*Personaliza oque está dentro do a do li*/
nav li a {
    display: inline-block;
    font-size: 50px;
    color: #000000;
    text-decoration: none;
    padding: 15px;
    margin-top: 15px;
}

/*Altera a cor quando passar o mouse por cima da lista*/
nav li a:hover {
    background-color: #FFF9F3;
}

/*Posiciona a lista para baixo e personaliza a lista*/
.dropdown-list {
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 0 2px black;
    display: none;
}

/*Posiciona a lista na vertical e personaliza as opções da lista*/
.dropdown-list a {
    display: block;
    color: black;
    font-size: 15px;
    transition: background .4s;
}

/*Configuração para passar o mouse e exibir a lista*/
.dropdown:hover .dropdown-list {
    display: block;
}

/*Alterações do usuario*/
.user {
    display: flex;
    align-items: center;
}

/*Personaliza oque está no a do user*/
.user a {
    font-size: 40px;
    color: #000000;
    text-decoration: none;
    padding: 15px;
    margin-top: 15px;
}

/*Posiciona a lista para baixo e personaliza a lista*/
.dropdown-icon {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 0 2px black;
}

/*Posiciona a lista na vertical e personaliza as opções da lista*/
.dropdown-icon a {
    display: block;
    color: black;
    font-size: 15px;
    transition: background .4s;
}

/*Configuração para passar o mouse e exibir a lista*/
.user-icon:hover .dropdown-icon {
    display: block;
}

/* formatação do footer*/
footer {
    width: 100%;
    color: var(--cor-bg);
    bottom: 0;
}

/*formata o texto do e o centraliza copyright*/
#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--cor-secundaria);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

.back-button{
    position: absolute;
    left: 3rem;
    top: 3rem;
}

.back-button a{
    text-decoration: none;
    color: #000000;
}

.back-button i{
    font-size: 2rem;
}