*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar{
    background-color: #333;
}

.nav-bar li{
    display: inline-block;
}

.nav-bar li a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 15px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1{
    color: #fff;
}