/*Padronizando os componentes*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }

  /*Configuração do main*/
  main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*Configuração da div que possui todas as outras divs do forms*/
.container{
    margin-top: 2%;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    width: 650px;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
  }

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1{
  padding: 3rem;  
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-content{
    padding-bottom: 2rem;
}

.form-content input{
    display: flex;
    flex-direction: column;
}

.mensagem {
    transition: opacity 1s ease-in-out;
}

.mensagem.oculta {
    opacity: 0;
}