/*Configuração do main*/
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Configuração do container onde fica as divs*/
.container {
    width: 90%;
    height: 100%;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

/*Configuração da div que possui todas as outras divs da lista*/
.userlist{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

/*Configuração da div do cabeçalho*/
.userlist-title{
    margin-bottom: 1.5rem;
    display: flex;
}

/*Risco abaixo do titulo*/
.userlist-title h1::after{
    content: '';
    display: block;
    width: 10rem;
    height: 0.3rem;
    background-color: #F57419;
    margin: 0 auto;
    border-radius: 10px;
}

/*Customização do botão*/
.userlist-table a {
    text-decoration: none;
}

/*Alinhando o form da barra de pesquisa*/
.search-form form{
    margin: 0 1.5rem 1.5rem 1.5rem;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.search-form input{
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

/*Customização do input ao passar o mouse nele*/
.search-form input:hover{
    background-color: #eeeeee75;
}

/*Curstomização do input ao clicar nele*/
.search-form input:focus-visible{
    outline: 1px solid #F57419;
}

.search-form button{
    padding: 0.5rem 1rem;
    border: none;
    background-color: #F57419;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

/*Altera a cor ao passar o mouse encima do botão*/
.search-form button:hover{
    background-color: #ff6a00;
} 

/*Customização do espaçamento dos nomes*/
.nome_func{
    padding: 1rem 1rem 1rem 1rem;
}
