/*Padronizando os componentes*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }

main{
    display: flex;
    justify-content: center;
    padding: 1.5rem 5rem;
    width: 100%;
    height: 100%;
}

/*Configurações da Tabela*/
.chart-container {
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
}

/*Configurando Titulos*/
.container_header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_header h1{
    font-size: 2rem;
}

/*Risco abaixo do titulo*/
.container_header h1::after{
    content: '';
    display: block;
    width: 10rem;
    height: 0.3rem;
    background-color: #f8b067;
    margin: 0 auto;
    border-radius: 10px;
}

/*Configurando espaçamento entre as divisões dos containers*/
.container_main{
    margin: 0 0 5rem 0;
    height: 400px; 
}

.container_content{
    height: 20rem;
    margin: 1rem 10% 0 10%;   
}

.pizza_content{
    height: 20rem;
    margin: 1rem 30% 0 30%;   
}