/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para a seção de suporte */
.support-section {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.support-section h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.support-form {
    display: flex;
    flex-direction: column;
}

.support-form label {
    margin-bottom: 8px;
    color: #555;
}

.support-form input,
.support-form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}

.submit-btn {
    padding: 12px;
    color: white;
    background-color: #F57419;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #ff6a00;
}

@media screen and (max-width: 700px) {
    .dropdown i{
        margin-left:-50px ;
    }
    .logo{
        font-size: 1.6rem;
    }
}